body {
    font: 10px sans-serif;
}

#container {
    position: relative;
}

text {
    fill: #000;
}

text.symbol {
    fill: #BBBBBB;
}

path {
    fill: none;
    stroke-width: 1;
}

path.candle {
    stroke: #000000;
}

path.candle.body {
    stroke-width: 0;
}

path.candle.up {
    fill: #00AA00;
    stroke: #00AA00;
}

path.candle.down {
    fill: #FF0000;
    stroke: #FF0000;
}

.close.annotation.up path {
    fill: #00AA00;
}

path.volume {
    stroke: #fff;
}
path.volume.up {
    fill: #45b545;
}
path.volume.down {
    fill: #f96565;
}

.indicator-plot path.line {
    fill: none;
    stroke-width: 1;
}

.ma-0 path.line {
    stroke: #1f77b4;
}

.ma-1 path.line {
    stroke: #aec7e8;
}

.ma-2 path.line {
    stroke: #ff7f0e;
}

button {
    position: absolute;
    right: 110px;
    top: 25px;
}

path.macd {
    stroke: #0000AA;
}

path.signal {
    stroke: #FF9999;
}

path.zero {
    stroke: #BBBBBB;
    stroke-dasharray: 0;
    stroke-opacity: 0.5;
}

path.difference {
    fill: #BBBBBB;
    opacity: 0.5;
}

path.rsi {
    stroke: #000000;
}

path.overbought, path.oversold {
    stroke: #FF9999;
    stroke-dasharray: 5, 5;
}

path.middle, path.zero {
    stroke: #BBBBBB;
    stroke-dasharray: 5, 5;
}

.analysis path, .analysis circle {
    stroke: blue;
    stroke-width: 0.8;
}

.trendline circle {
    stroke-width: 0;
    display: none;
}

.mouseover .trendline path {
    stroke-width: 1.2;
}

.mouseover .trendline circle {
    stroke-width: 1;
    display: inline;
}

.dragging .trendline path, .dragging .trendline circle {
    stroke: darkblue;
}

.interaction path, .interaction circle {
    pointer-events: all;
}

.interaction .body {
    cursor: move;
}

.trendline-minor .interaction .start, .trendline-minor .interaction .end {
    cursor: nwse-resize;
}

.supstance path {
    stroke-dasharray: 2, 2;
}

.supstances .interaction path {
    pointer-events: all;
    cursor: ns-resize;
}

.mouseover .supstance path {
    stroke-width: 1.5;
}

.dragging .supstance path {
    stroke: darkblue;
}

.crosshair {
    cursor: crosshair;
}

.crosshair path.wire {
    stroke: #DDDDDD;
    stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
    fill: #DDDDDD;
}


.trendline-minor {
    stroke: blue;
    stroke-width: 1;
}

.trendline-minor circle {
    stroke-width: 0.5;
}

.mouseover .trendline-minor path {
    stroke-width: 1.5;
}

.mouseover .trendline-minor circle {
    stroke-width: 1.5;
    display: inline;
}

.trendline-intermediate {
    stroke: orange;
    stroke-width: 1.5;
}

.trendline-intermediate circle {
    stroke-width: 0.5;
}

.mouseover .trendline-intermediate path {
    stroke-width: 1.5;
}

.mouseover .trendline-intermediate circle {
    stroke-width: 1.5;
    display: inline;
}


.trendline-major path{
    stroke: darkgreen;
    stroke-width: 2;
}

.trendline-major circle {
    stroke-width: 0.5;
}

.line-legend-group {
    cursor: pointer;
    opacity: 0.4;
}

.line-legend-group:hover {
    opacity: 0.6;
}

.line-legend-group--active {
    opacity: 1;
}

.tooltip {
    display: block;
    position: absolute;
    top: 56px;
    left: 120px;
    padding: 8px;
    min-width: 160px;
    min-height: 64px;
    background-color: white;
    border-radius: 4px;
    z-index: 9999;
    pointer-events: none;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.tooltip h4 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 12px;
}

.tooltip .tooltip-item {
    font-size: 12px;
    line-height: 1.785;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #6b6b6b;
}

.tooltip .tooltip-item span:last-child {
    color: #000;
    opacity: 0.8;
    text-transform: uppercase;
}

.tooltip.tooltip--hidden {
    display: none;
}

.x.axis path {
    stroke: none;
}

.x.axis .tick line, .ohlc .axis .tick line {
    stroke: #e0e0e0;
}
.x.axis .tick text, .ohlc .axis .tick text {
    fill: #777777;
}
.ohlc .axis path.domain {
    stroke: #e0e0e0;
}

.reset-button {
    position: absolute;
    bottom: 19px;
    right: 104px;
    top: unset;
    display: inline-flex;
    color: #fff;
    padding: 6px 8px;
    border-width: 0px;
    font-size: 12px;
    box-sizing: border-box;
    transition: opacity 0.2s linear;
    border-radius: 4px;
    background-color: #1976d2;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    cursor: pointer;
    z-index: 999;
}

.reset-button:hover {
    opacity: 0.6;
}